  <style>
        .btn-search{
          background-color: #fe424d;
          color:#fff;
          border-radius: 25px;
          padding: 0.3rem 1rem 0.3rem 1rem;
        }
        .btn-search:hover{
          background-color: #fe424d;
          color:#fff;
          border-radius: 25px;
        }
        .btn-search i{
          display: inline;
          
        }
        .input-btn{
          border-radius: 25px;
          width:400px;
          padding: 0.3rem 3rem 0.3rem 3rem;
        }

        .dropdown-toggle{
           border-radius: 25px;
           border: 1px solid #ccc;
           font-size: .8rem;
           
        }
        .dropdown-toggle:hover{
           border-radius: 25px;
           border: 1px solid #ccc;
           box-shadow: 1px 1px 5px #ccc;
        }
        .dropdown-menu{
            border: 0px;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #ccc;
        }
        .dropdown-item{
            margin: 0px ;
            padding: 5px;
            margin-left: 5px;
            font-size: .9rem;
        }
        
      </style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top sarabun-regular">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Wanderlust</a>
         
        </div>

        <div class="navbar-nav  ms-auto">
          <form class="d-flex" role="search" method="POST" action="/listings/category/:search">
            <input class="form-control me-2 input-btn" type="search" placeholder="Search destination" name="category">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass "></i>Search </button>
          </form>
        </div>

      <div class="navbar-nav ms-auto me-3">
              <a class="nav-link mt-1 me-1" href="/listings/new">Airbnb your home</a>

              <div class="dropdown-center me-5 py-1">
                <button class="btn  dropdown-toggle py-2" type="button" data-bs-toggle="dropdown" >
                  
                    <i class="fa fa-user-circle fs-4 mx-1" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu ">
                 <%if(!currUser){%>
                  <li>  <a class="dropdown-item" aria-current="page" href="/signup">Sign up</a></li>
                  <li> <a class="dropdown-item" href="/login">Log in</a></li>
                   <%}%>
          <% if(currUser){%>
                  <li> <a class="dropdown-item" href="/logout">Log out</a></li>
              <%}%><hr>

                  <li>  <a class="dropdown-item" href="/listings/new">Airbnb your home</a></li>
                </ul>
              </div> 
             
            </div>

      
        
      </div>
    </div>
  </nav>
